--index-url https://download.pytorch.org/whl/cu121
--extra-index-url https://pypi.org/simple


torch==2.6.0
numpy==2.1.1
opencv-python==4.11.0.86
requests==2.32.3
pillow
torchvision
segment_anything @ git+https://github.com/facebookresearch/segment-anything.git@dca509fe793f601edb92606367a655c15ac00fdf

torchvision
torchaudio
nvidia-cudnn-cu12
nvidia-cuda-runtime-cu12
nvidia-cublas-cu12
nvidia-cuda-cupti-cu12
nvidia-cuda-nvrtc-cu12
nvidia-cufft-cu12
nvidia-curand-cu12
nvidia-cusolver-cu12
nvidia-cusparse-cu12
nvidia-cusparselt-cu12
nvidia-nccl-cu12
nvidia-nvjitlink-cu12
nvidia-nvtx-cu12